@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    background-size: cover;
    margin: 0;
    padding: 20px 25px;
    height: 100%;
    color: #fff;
    font-size: 12px;
    background-size: cover;
    font-family: 'Exo', sans-serif;
}

.background1{
    background: #fff url(../img/background/Forever_by_Shady_S.jpg);

    background-size: cover;
}

.background2{
    background: #fff url(../img/background/Beach_by_Renato_Giordanelli.jpg);

    background-size: cover;
}

.background3{
    background: #fff url(../img/background/warty-final-ubuntu.jpg);

    background-size: cover;

}

.image:hover{

    -webkit-box-shadow: 0px 0px 12px 4px rgba(250,247,250,1);
    box-shadow: 0px 0px 12px 4px rgba(250,247,250,1);
    -moz-box-shadow: 0px 0px 12px 4px rgba(250,247,250,1);

}
.image{
    width:400px;
    height: 250px;
    display: inline-block;
    margin-right: 20px;
}
.clearfix {
    clear: both;

}

button{
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 20px;
}

button:hover{
    opacity: 0.8;
}

.submitSuccess{
    border: 1px dashed #fff;
    padding: 10px;
    width: 275px;



}
