@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Ubuntu|Roboto);

/**{*/
/*animation*/
/*transition: all .5s ease-in-out;*/
/*-moz-transition: all .5s ease-in-out;*/
/*-webkit-transition: all .5s ease-in-out;*/
/*}*/

p {
    right: 0;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 25;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.round-button {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */

    /*animation*/
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.round-button:hover {
    background: #262626;
    opacity: 0.99;
    filter: alpha(opacity=99); /* For IE8 and earlier */
}

.round-button img {
    display: block;
    width: 190px;
    height: 190px;
    padding: 12%;
    margin-right: 100%;
    height: auto;

    /*animation*/
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.round-button img:hover {
    padding: 5%;
}

.nameTag {
    /*position*/
    float: left;
    height: 100px;
    min-width: 170px;
    margin-left: 65px;
    margin-right: 65px;

    /*style*/
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    font-size: 40;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */

    /*animation*/
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#mainContainer {
    width: 1020px;
    height: 300px;
}

#buttons {
    height: 200px;
}

#nameTagsDiv {
    /*position*/
    position: relative;
    margin: 10px auto;
    height: 100px;
    width: 300px;

    /*property*/
    overflow: hidden;
}

#nameTags {
    width: 1200px;
    margin-top: -100px;
    margin-left: -450px;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */

    /*Animation*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}