body{

    padding: 20px 25px;
    color: #fff;
    font-size: 12px;
}

.image:hover{

    -webkit-box-shadow: 0px 0px 12px 4px rgba(250,247,250,1);
    box-shadow: 0px 0px 12px 4px rgba(250,247,250,1);
    -moz-box-shadow: 0px 0px 12px 4px rgba(250,247,250,1);

}
.image{
    width:300px;
    height: 200px;
    display: inline-block;
    margin-right: 20px;
}
.clearfix {
    clear: both;

}

button{
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 20px;
}

button:hover{
    opacity: 0.8;
}


.selected {
    -webkit-box-shadow: 0px 0px 12px 4px rgba(250, 247, 250, 1);
    box-shadow: 0px 0px 12px 4px rgba(250, 247, 250, 1);
    -moz-box-shadow: 0px 0px 12px 4px rgba(250, 247, 250, 1);
}

.content{
    margin-left: 150px;
}

#ack{
    /*position*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}